@media only screen and (min-width: 1024px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  body {
    font-family: "Poppins";
    color: #071535;
  }
  body button {
    outline: none;
  }
  body input {
    outline: none;
  }
  body selection {
    outline: none;
  }
  .login-page .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 100vh;
  }
  .login-page .login .login-left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .login .login-left .content {
    width: 75%;
  }
  .login-page .login .login-left .content h3 {
    margin-top: 40px;
    color: #3554D1;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .login-page .login .login-left .content h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 5px;
  }
  .login-page .login .login-left .content p {
    line-height: 24px;
    font-size: 14px;
    color: #A5AEBC;
    margin-bottom: 30px;
  }
  .login-page .login .login-left .content .btn-google {
    width: 100%;
    height: 50px;
    color: #071535;
    background-color: white;
    border: 1px solid #F2F4F7;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .login-page .login .login-left .content .btn-google img {
    width: 30px;
    margin-right: 10px;
  }
  .login-page .login .login-left .content .btn-google:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    border: 1px solid #3554D1;
  }
  .login-page .login .login-left .content .choice-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .login-page .login .login-left .content .choice-login hr {
    width: 30%;
    height: 1px;
    background-color: #F2F4F7;
    border: none;
  }
  .login-page .login .login-left .content .choice-login h6 {
    font-size: 14px;
    color: #A5AEBC;
    font-weight: 400;
  }
  .login-page .login .login-left .content form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }
  .login-page .login .login-left .content form .form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #071535;
    margin-bottom: 15px;
  }
  .login-page .login .login-left .content form .form-group i {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: rgba(165, 174, 188, 0.5);
  }
  .login-page .login .login-left .content form .form-group input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #F2F4F7;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #071535;
    font-weight: 500;
    font-size: 14px;
  }
  .login-page .login .login-left .content form .form-group input:focus {
    border: 1px solid #3554D1;
  }
  .login-page .login .login-left .content form .btn-login {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #3554D1;
    border: 1px solid #3554D1;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .login-page .login .login-left .content form .btn-login:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-box-shadow: 0px 15px 45px rgba(53, 84, 209, 0.32);
            box-shadow: 0px 15px 45px rgba(53, 84, 209, 0.32);
  }
  .login-page .login .login-left .content form h6 {
    font-size: 14px;
    color: #A5AEBC;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .login-page .login .login-left .content form h6 a {
    color: #3554D1;
  }
  .login-page .login .login-right {
    width: 50%;
    min-height: 100vh;
    background-color: #3554D1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-page .login .login-right img {
    width: 75%;
  }
  .login-page .login .login-right h2 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login-page .login .login-right p {
    font-size: 14px;
    width: 80%;
    text-align: center;
    line-height: 24px;
    color: white;
  }
  #mobile {
    display: none;
  }
}
/*# sourceMappingURL=desktop-style.css.map */