@media only screen and (min-width: 1024px) {


    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Medium.ttf');
        font-weight: 500;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-SemiBold.ttf');
        font-weight: 600;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Italic.ttf');
        font-style: italic;
    }

    $fontPrimary : "Poppins";

    $colorPrimary : #3554D1;
    $colorBlueLight : #CDEEF6;
    $colorGrayOld : #5D667B;
    $colorGray : #A5AEBC;
    $colorLight : #F2F4F7;
    $colorDark : #071535;
    $colorBlack : #000000;

    body {
        font-family: $fontPrimary;
        color: $colorDark;

        button {
            outline: none;
        }

        input {
            outline: none;
        }

        select {
            outline: none;
        }

        textarea {
            outline: none;
        }
    }

    .login-page {

        .login {
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-height: 100vh;

            .login-left {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;

                .content {
                    width: 75%;

                    h3 {
                        margin-top: 40px;
                        color: $colorPrimary;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 500;
                        margin-bottom: 50px;
                    }

                    h1 {
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 50px;
                        margin-bottom: 5px;
                    }

                    p {
                        line-height: 24px;
                        font-size: 14px;
                        color: $colorGray;
                        margin-bottom: 30px;
                    }

                    .btn-google {
                        width: 100%;
                        height: 50px;
                        color: $colorDark;
                        background-color: white;
                        border: 1px solid $colorLight;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        img {
                            width: 30px;
                            margin-right: 10px;
                        }
                    }

                    .btn-google:hover {
                        transition: 300ms;
                        border: 1px solid $colorPrimary;
                    }

                    .choice-login {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        hr {
                            width: 30%;
                            height: 1px;
                            background-color: $colorLight;
                            border: none;
                        }

                        h6 {
                            font-size: 14px;
                            color: $colorGray;
                            font-weight: 400;
                        }
                    }

                    form {

                        .form-group {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 20px;
                            position: relative;

                            label {
                                font-size: 14px;
                                font-weight: 500;
                                color: $colorDark;
                                margin-bottom: 15px;
                            }

                            i {
                                position: absolute;
                                bottom: 15px;
                                left: 20px;
                                color: rgba($color: $colorGray, $alpha: 0.5);
                            }

                            input {
                                width: 100%;
                                height: 50px;
                                border-radius: 10px;
                                border: 1px solid $colorLight;
                                padding-left: 50px;
                                box-sizing: border-box;
                                color: $colorDark;
                                font-weight: 500;
                                font-size: 14px;
                            }

                            input:focus {
                                border: 1px solid $colorPrimary;
                            }
                        }

                        .btn-login {
                            width: 100%;
                            height: 50px;
                            color: white;
                            background-color: $colorPrimary;
                            border: 1px solid $colorPrimary;
                            border-radius: 10px;
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 20px;
                            cursor: pointer;
                        }

                        .btn-login:hover {
                            transition: 300ms;
                            box-shadow: 0px 15px 45px rgba($color: $colorPrimary, $alpha: 0.32);
                        }

                        h6 {
                            font-size: 14px;
                            color: $colorGray;
                            line-height: 24px;
                            margin-bottom: 50px;

                            a {
                                color: $colorPrimary;
                            }
                        }
                    }
                }
            }

            .login-right {
                right: 0;
                // top: 0;
                // bottom: 0;
                // position: fixed;
                width: 50%;
                min-height: 100vh;
                background-color: $colorPrimary;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 75%;
                }

                h2 {
                    font-size: 20px;
                    color: white;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    width: 80%;
                    text-align: center;
                    line-height: 24px;
                    color: white;
                }
            }
        }
    }

    .completeData-page {

        .completeData {
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-height: 100vh;

            .complete-left {
                width: 33%;
                height: 100vh;
                display: flex;
                justify-content: center;
                background-color: $colorPrimary;
                position: relative;

                .content {
                    width: 75%;

                    h3 {
                        margin-top: 40px;
                        color: white;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 500;
                        margin-bottom: 50px;
                    }

                    .line-proses {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .item-group {
                            cursor: pointer;
                            margin-bottom: 30px;
                            display: flex;
                            align-items: center;
                            color: rgba($color: white, $alpha: 0.7);

                            .icon {

                                .circle {
                                    margin-right: 20px;
                                    background-color: transparent;
                                    border: 2px solid rgba($color: white, $alpha: 0.7);
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 60px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    i {
                                        color: rgba($color: white, $alpha: 0.7);
                                    }
                                }
                            }

                            .text {

                                h4 {
                                    font-size: 16px;
                                    line-height: 28px;
                                    font-weight: 500;
                                    margin-bottom: 5px;
                                }

                                p {
                                    line-height: 24px;
                                    font-size: 14px;
                                }
                            }
                        }

                        .item-group.active {
                            margin-bottom: 30px;
                            display: flex;
                            align-items: center;
                            color: white;

                            .icon {
                                .circle {
                                    margin-right: 20px;
                                    background-color: white;
                                    border: 2px solid white;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 60px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    i {
                                        color: $colorPrimary;
                                    }
                                }
                            }
                        }
                    }
                }

                .footer {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    background-color: $colorDark;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .footer-text {
                        h4 {
                            color: white;
                            font-size: 14px;
                        }
                    }

                    .footer-button {
                        button {
                            width: 100px;
                            height: 35px;
                            border-radius: 20px;
                            background-color: transparent;
                            border: 2px solid white;
                            color: white;
                        }
                    }
                }
            }

            .complete-right {
                width: 67%;
                height: 100vh;
                background-color: white;
                display: flex;
                justify-content: center;
                position: relative;
                overflow: hidden;

                .container {
                    width: 100%;
                    height: 1000px;
                    position: absolute;
                    top: 0px;
                    display: flex;
                    flex-direction: column;
                    transition: 900ms;
                    align-items: center;
                }

                .container1 {
                    top: -100vh;
                    transition: 900ms;
                }

                .container2 {
                    top: -200vh;
                    transition: 900ms;
                }

                .form {
                    height: 100vh;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .content {
                        width: 85%;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .form-1 {

                    .content {

                        .image {
                            margin-top: 40px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            margin-bottom: 30px;

                            img {
                                width: 340px;
                            }
                        }

                        h2 {
                            width: 450px;
                            text-align: center;
                            font-size: 28px;
                            font-weight: 500;
                            line-height: 36px;
                            margin-bottom: 20px;
                        }

                        p {
                            width: 650px;
                            text-align: center;
                            line-height: 24px;
                            margin-bottom: 30px;
                        }

                        button {
                            height: 45px;
                            width: 200px;
                            border-radius: 30px;
                            border: 2px solid $colorPrimary;
                            background-color: $colorPrimary;
                            color: white;
                            cursor: pointer;
                        }

                    }
                }

                .form-2 {

                    .content {

                        h2 {
                            font-size: 28px;
                            font-weight: 500;
                            margin-top: 50px;
                            text-align: center;
                            line-height: 36px;
                            margin-bottom: 15px;
                        }

                        p {
                            width: 650px;
                            text-align: center;
                            line-height: 24px;
                            margin-bottom: 30px;
                        }

                        .form-biodata {
                            width: 80%;

                            .row {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 20px;

                                .col-6 {
                                    width: 49%;
                                }

                                .col-12 {
                                    width: 100%;
                                }

                                .form-group {
                                    display: flex;
                                    flex-direction: column;
                                    position: relative;

                                    label {
                                        margin-bottom: 10px;
                                        font-size: 14px;
                                    }

                                    input {
                                        height: 35px;
                                        border-radius: 20px;
                                        border: 1px solid $colorGray;
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }

                                    select {
                                        height: 35px;
                                        border: 1px solid $colorGray;
                                        border-radius: 20px;
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }

                                    textarea {
                                        border: 1px solid $colorGray;
                                        border-radius: 20px;
                                        padding: 10px 20px 10px 20px;
                                    }

                                    input:focus {
                                        border: 1px solid $colorPrimary;
                                    }

                                    select:focus {
                                        border: 1px solid $colorPrimary;
                                    }

                                    textarea:focus {
                                        border: 1px solid $colorPrimary;
                                    }

                                    .icon {
                                        position: relative;
                                        width: 100%;
                                        height: 40px;
                                        cursor: pointer;

                                        i {
                                            left: 50%;
                                            right: 50%;
                                            top: 0px;
                                            position: absolute;
                                            color: $colorPrimary;
                                            transition: 300ms;
                                            font-size: 20px;
                                        }
                                    }

                                    .icon:hover {
                                        i {
                                            transition: 300ms;
                                            top: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .readData-page {
        width: 100%;
        height: 100vh;

        .bg-main {
            position: absolute;
            background-color: $colorDark;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            height: 550px;
            width: 100%;
            z-index: 1;
        }

        .main {
            width: 100%;
            height: 550px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            z-index: 2;
            position: relative;

            .content {
                width: 90%;
                color: white;
                display: flex;
                justify-content: center;

                .content-left {
                    width: 100%;
                    box-sizing: border-box;
                    padding-right: 30px;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;

                    h4 {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }

                    h1 {
                        font-size: 36px;
                        line-height: 44px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        color: $colorPrimary;
                    }

                    p {
                        font-weight: 500;
                        line-height: 28px;
                        margin-bottom: 30px;
                    }

                    .button {
                        display: flex;
                        justify-content: center;

                        button {
                            margin-left: auto;
                            margin-right: auto;
                            padding: 10px 10px 10px 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            border-radius: 5px;
                            text-decoration: none;
                            color: white;
                            font-size: 14px;
                            width: 200px;
                            background-color: $colorPrimary;
                            border: 1px solid $colorPrimary;
                            transition: 300ms;
                            font-weight: 500;
                            cursor: pointer;
                        }
    
                        button:hover {
                            transition: 300ms;
                            background-color: $colorDark;
                            color: white;
                            border: 1px solid $colorPrimary;
                        }
                    }
                }
            }
        }

        .table-section {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 80px;

            .content {
                width: 90%;
                position: relative;
                display: flex;
                justify-content: center;
                min-height: 500px;

                .table {
                    position: relative;
                    z-index: 1;
                    top: -80px;
                    width: 80%;
                    min-height: 500px;
                    display: flex;
                    background-color: white;
                    box-shadow: 0px 30px 60px rgba($color: $colorDark, $alpha: 0.1);
                    border-radius: 20px;
                    justify-content: center;
                    padding-top: 40px;
                    padding-bottom: 40px;

                    table {
                        width: 90%;
                        display: flex;
                        flex-direction: column;

                        thead {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            margin-bottom: 30px;

                            tr {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                .rank {
                                    width: 3%;
                                }

                                th {
                                    width: 24%;
                                    text-align: left;
                                    font-weight: 500;
                                }

                                .skor {
                                    width: 20%;
                                }
                            }
                        }

                        tbody {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            tr {
                                width: 100%;
                                display: flex;
                                margin-bottom: 20px;
                                justify-content: space-between;
                                padding-top: 20px;
                                border-top: 1px solid rgba($color: $colorDark, $alpha: 0.1);

                                th {
                                    width: 4%;
                                    text-align: left;
                                    font-weight: 500;
                                }

                                td {
                                    width: 24%;
                                    text-align: left;
                                    font-weight: 400;

                                    img {
                                        width: 80px;
                                    }
                                }

                                .skor {
                                    width: 23%;
                                    display: flex;
                                    justify-content: center;

                                    .badge {
                                        padding: 0px 10px 0px 10px;
                                        border-radius: 5px;
                                        text-decoration: none;
                                        color: white;
                                        font-size: 14px;
                                        margin-left: 2px;
                                        margin-right: 2px;
                                        height: 30px;
                                        display: flex;
                                        align-items: center;
                                    }

                                    .badge-danger {
                                        background-color: salmon;
                                    }

                                    .badge-warning {
                                        background-color: orange;
                                    }

                                    .badge-primary {
                                        background-color: $colorPrimary;
                                    }
                                }
                            }

                            hr {
                                height: 1px;
                            }
                        }
                    }
                }
            }
        }

        .form-section {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 80px;

            .content {
                width: 90%;
                position: relative;
                display: flex;
                justify-content: center;

                .form-box {
                    position: relative;
                    z-index: 1;
                    top: -80px;
                    width: 80%;
                    min-height: 350px;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    box-shadow: 0px 30px 60px rgba($color: $colorDark, $alpha: 0.1);
                    border-radius: 20px;
                    align-items: center;
                    padding-top: 40px;
                    padding-bottom: 40px;

                    h2 {
                        font-size: 28px;
                        font-weight: 500;
                        margin-top: 0px;
                        text-align: center;
                        line-height: 36px;
                        margin-bottom: 15px;
                    }

                    p {
                        width: 650px;
                        text-align: center;
                        line-height: 24px;
                        margin-bottom: 30px;
                    }

                    .form-biodata {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .row {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            .col-6 {
                                width: 49%;
                            }

                            .col-12 {
                                width: 100%;
                            }

                            .form-group {
                                display: flex;
                                flex-direction: column;
                                
                                .box-profile {

                                    .imgProfile {
                                        width: 0.1px;
                                        height: 0.1px;
                                        opacity: 0;
                                        overflow: hidden;
                                        position: absolute;
                                        z-index: -1;
                                    }

                                    .lblImgProfile {
                                        width: 100%;
                                        height: 100px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border: 1px solid $colorGray;
                                        border-radius: 20px;
                                        background-color: rgba($color: $colorDark, $alpha: 0.01);
                                    }
                                }

                                label {
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                }

                                input {
                                    height: 40px;
                                    border-radius: 20px;
                                    border: 1px solid $colorGray;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }

                                select {
                                    height: 44px;
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }

                                textarea {
                                    border: 1px solid $colorGray;
                                    border-radius: 20px;
                                    padding: 10px 20px 10px 20px;
                                }

                                input:focus {
                                    border: 1px solid $colorPrimary;
                                }

                                select:focus {
                                    border: 1px solid $colorPrimary;
                                }

                                textarea:focus {
                                    border: 1px solid $colorPrimary;
                                }

                            }
                        }

                        button {
                            margin-top: 20px;
                            height: 45px;
                            width: 200px;
                            border-radius: 30px;
                            border: 2px solid $colorPrimary;
                            background-color: $colorPrimary;
                            color: white;
                        }

                    }
                }

            }
        }
    }

    .detailStudent-page {
        width: 100%;
        height: 100vh;

        .bg-main {
            position: absolute;
            background-color: $colorDark;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            height: 550px;
            width: 100%;
            z-index: 1;
        }

        .form-section {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 0px;

            .content {
                width: 90%;
                position: relative;
                display: flex;
                justify-content: center;

                .form-box {
                    position: relative;
                    z-index: 1;
                    top: 60px;
                    width: 80%;
                    min-height: 480px;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    box-shadow: 0px 30px 60px rgba($color: $colorDark, $alpha: 0.1);
                    border-radius: 20px;
                    align-items: center;
                    padding-top: 40px;
                    padding-bottom: 40px;

                    h2 {
                        font-size: 28px;
                        font-weight: 500;
                        margin-top: 0px;
                        text-align: center;
                        line-height: 36px;
                        margin-bottom: 15px;
                    }

                    p {
                        width: 650px;
                        text-align: center;
                        line-height: 24px;
                        margin-bottom: 30px;
                    }

                    .form-biodata {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .row {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            .col-6 {
                                width: 49%;
                            }

                            .col-12 {
                                width: 100%;
                            }

                            .form-group {
                                display: flex;
                                flex-direction: column;

                                label {
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                }

                                h4 {
                                    font-weight: 500;
                                    font-size: 16px;
                                }

                                img {
                                    width: 200px;
                                    margin-bottom: 10px;
                                }

                                .btn-download {
                                    width: 200px;
                                    height: 40px;
                                    border-radius: 20px;
                                    text-decoration: none;
                                    color: white;
                                    font-size: 14px;
                                    margin-left: 2px;
                                    margin-right: 2px;
                                    background-color: $colorPrimary;
                                    border: 1px solid $colorPrimary;
                                    cursor: pointer;
                                    transition: 300ms;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .btn-download:hover {
                                    background-color: transparent;
                                    color: $colorPrimary;
                                    transition: 300ms;
                                }

                            }
                        }

                    }
                }

            }
        }
    }

    #mobile {
        display: none;
    }

}