@media only screen and (min-width: 1024px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  body {
    font-family: "Poppins";
    color: #071535;
  }
  body button {
    outline: none;
  }
  body input {
    outline: none;
  }
  body select {
    outline: none;
  }
  body textarea {
    outline: none;
  }
  .login-page .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 100vh;
  }
  .login-page .login .login-left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .login .login-left .content {
    width: 75%;
  }
  .login-page .login .login-left .content h3 {
    margin-top: 40px;
    color: #3554D1;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .login-page .login .login-left .content h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 5px;
  }
  .login-page .login .login-left .content p {
    line-height: 24px;
    font-size: 14px;
    color: #A5AEBC;
    margin-bottom: 30px;
  }
  .login-page .login .login-left .content .btn-google {
    width: 100%;
    height: 50px;
    color: #071535;
    background-color: white;
    border: 1px solid #F2F4F7;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .login-page .login .login-left .content .btn-google img {
    width: 30px;
    margin-right: 10px;
  }
  .login-page .login .login-left .content .btn-google:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    border: 1px solid #3554D1;
  }
  .login-page .login .login-left .content .choice-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .login-page .login .login-left .content .choice-login hr {
    width: 30%;
    height: 1px;
    background-color: #F2F4F7;
    border: none;
  }
  .login-page .login .login-left .content .choice-login h6 {
    font-size: 14px;
    color: #A5AEBC;
    font-weight: 400;
  }
  .login-page .login .login-left .content form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }
  .login-page .login .login-left .content form .form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #071535;
    margin-bottom: 15px;
  }
  .login-page .login .login-left .content form .form-group i {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: rgba(165, 174, 188, 0.5);
  }
  .login-page .login .login-left .content form .form-group input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #F2F4F7;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #071535;
    font-weight: 500;
    font-size: 14px;
  }
  .login-page .login .login-left .content form .form-group input:focus {
    border: 1px solid #3554D1;
  }
  .login-page .login .login-left .content form .btn-login {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #3554D1;
    border: 1px solid #3554D1;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .login-page .login .login-left .content form .btn-login:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-box-shadow: 0px 15px 45px rgba(53, 84, 209, 0.32);
            box-shadow: 0px 15px 45px rgba(53, 84, 209, 0.32);
  }
  .login-page .login .login-left .content form h6 {
    font-size: 14px;
    color: #A5AEBC;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .login-page .login .login-left .content form h6 a {
    color: #3554D1;
  }
  .login-page .login .login-right {
    right: 0;
    width: 50%;
    min-height: 100vh;
    background-color: #3554D1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-page .login .login-right img {
    width: 75%;
  }
  .login-page .login .login-right h2 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login-page .login .login-right p {
    font-size: 14px;
    width: 80%;
    text-align: center;
    line-height: 24px;
    color: white;
  }
  .completeData-page .completeData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 100vh;
  }
  .completeData-page .completeData .complete-left {
    width: 33%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #3554D1;
    position: relative;
  }
  .completeData-page .completeData .complete-left .content {
    width: 75%;
  }
  .completeData-page .completeData .complete-left .content h3 {
    margin-top: 40px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .completeData-page .completeData .complete-left .content .line-proses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group {
    cursor: pointer;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group .icon .circle {
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    height: 30px;
    width: 30px;
    border-radius: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group .icon .circle i {
    color: rgba(255, 255, 255, 0.7);
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group .text h4 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group .text p {
    line-height: 24px;
    font-size: 14px;
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group.active {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group.active .icon .circle {
    margin-right: 20px;
    background-color: white;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .completeData-page .completeData .complete-left .content .line-proses .item-group.active .icon .circle i {
    color: #3554D1;
  }
  .completeData-page .completeData .complete-left .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #071535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .completeData-page .completeData .complete-left .footer .footer-text h4 {
    color: white;
    font-size: 14px;
  }
  .completeData-page .completeData .complete-left .footer .footer-button button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
  .completeData-page .completeData .complete-right {
    width: 67%;
    height: 100vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .completeData-page .completeData .complete-right .container {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 900ms;
    transition: 900ms;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .completeData-page .completeData .complete-right .container1 {
    top: -100vh;
    -webkit-transition: 900ms;
    transition: 900ms;
  }
  .completeData-page .completeData .complete-right .container2 {
    top: -200vh;
    -webkit-transition: 900ms;
    transition: 900ms;
  }
  .completeData-page .completeData .complete-right .form {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .completeData-page .completeData .complete-right .form .content {
    width: 85%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .completeData-page .completeData .complete-right .form-1 .content .image {
    margin-top: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .completeData-page .completeData .complete-right .form-1 .content .image img {
    width: 340px;
  }
  .completeData-page .completeData .complete-right .form-1 .content h2 {
    width: 450px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .completeData-page .completeData .complete-right .form-1 .content p {
    width: 650px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .completeData-page .completeData .complete-right .form-1 .content button {
    height: 45px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid #3554D1;
    background-color: #3554D1;
    color: white;
    cursor: pointer;
  }
  .completeData-page .completeData .complete-right .form-2 .content h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .completeData-page .completeData .complete-right .form-2 .content p {
    width: 650px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata {
    width: 80%;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .col-6 {
    width: 49%;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .col-12 {
    width: 100%;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group input {
    height: 35px;
    border-radius: 20px;
    border: 1px solid #A5AEBC;
    padding-left: 20px;
    padding-right: 20px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group select {
    height: 35px;
    border: 1px solid #A5AEBC;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group textarea {
    border: 1px solid #A5AEBC;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group input:focus {
    border: 1px solid #3554D1;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group select:focus {
    border: 1px solid #3554D1;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group textarea:focus {
    border: 1px solid #3554D1;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group .icon {
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group .icon i {
    left: 50%;
    right: 50%;
    top: 0px;
    position: absolute;
    color: #3554D1;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-size: 20px;
  }
  .completeData-page .completeData .complete-right .form-2 .content .form-biodata .row .form-group .icon:hover i {
    -webkit-transition: 300ms;
    transition: 300ms;
    top: 5px;
  }
  .readData-page {
    width: 100%;
    height: 100vh;
  }
  .readData-page .bg-main {
    position: absolute;
    background-color: #071535;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 550px;
    width: 100%;
    z-index: 1;
  }
  .readData-page .main {
    width: 100%;
    height: 550px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
    position: relative;
  }
  .readData-page .main .content {
    width: 90%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .readData-page .main .content .content-left {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .readData-page .main .content .content-left h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .readData-page .main .content .content-left h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3554D1;
  }
  .readData-page .main .content .content-left p {
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .readData-page .table-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px;
  }
  .readData-page .table-section .content {
    width: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 500px;
  }
  .readData-page .table-section .content .table {
    position: relative;
    z-index: 1;
    top: -80px;
    width: 80%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-shadow: 0px 30px 60px rgba(7, 21, 53, 0.1);
            box-shadow: 0px 30px 60px rgba(7, 21, 53, 0.1);
    border-radius: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .readData-page .table-section .content .table table {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .readData-page .table-section .content .table table thead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .readData-page .table-section .content .table table thead tr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .readData-page .table-section .content .table table thead tr .rank {
    width: 3%;
  }
  .readData-page .table-section .content .table table thead tr th {
    width: 24%;
    text-align: left;
    font-weight: 500;
  }
  .readData-page .table-section .content .table table thead tr .skor {
    width: 20%;
  }
  .readData-page .table-section .content .table table tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .readData-page .table-section .content .table table tbody tr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid rgba(7, 21, 53, 0.1);
  }
  .readData-page .table-section .content .table table tbody tr th {
    width: 4%;
    text-align: left;
    font-weight: 500;
  }
  .readData-page .table-section .content .table table tbody tr td {
    width: 24%;
    text-align: left;
    font-weight: 400;
  }
  .readData-page .table-section .content .table table tbody tr .skor {
    width: 23%;
  }
  .readData-page .table-section .content .table table tbody tr .skor .badge {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  .readData-page .table-section .content .table table tbody tr .skor .badge-danger {
    background-color: salmon;
  }
  .readData-page .table-section .content .table table tbody tr .skor .badge-warning {
    background-color: orange;
  }
  .readData-page .table-section .content .table table tbody tr .skor .badge-primary {
    background-color: #3554D1;
  }
  .readData-page .table-section .content .table table tbody hr {
    height: 1px;
  }
  .readData-page .form-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px;
  }
  .readData-page .form-section .content {
    width: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 500px;
  }
  .readData-page .form-section .content .form-box {
    position: relative;
    z-index: 1;
    top: -80px;
    width: 80%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 0px 30px 60px rgba(7, 21, 53, 0.1);
            box-shadow: 0px 30px 60px rgba(7, 21, 53, 0.1);
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .readData-page .form-section .content .form-box h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .readData-page .form-section .content .form-box p {
    width: 650px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .readData-page .form-section .content .form-box .form-biodata {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .readData-page .form-section .content .form-box .form-biodata .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .col-6 {
    width: 49%;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .col-12 {
    width: 100%;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #A5AEBC;
    padding-left: 20px;
    padding-right: 20px;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group select {
    height: 44px;
    border: 1px solid #A5AEBC;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group textarea {
    border: 1px solid #A5AEBC;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group input:focus {
    border: 1px solid #3554D1;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group select:focus {
    border: 1px solid #3554D1;
  }
  .readData-page .form-section .content .form-box .form-biodata .row .form-group textarea:focus {
    border: 1px solid #3554D1;
  }
  .readData-page .form-section .content .form-box .form-biodata button {
    margin-top: 20px;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid #3554D1;
    background-color: #3554D1;
    color: white;
  }
  .detailStudent-page {
    width: 100%;
    height: 100vh;
  }
  .detailStudent-page .bg-main {
    position: absolute;
    background-color: #071535;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 550px;
    width: 100%;
    z-index: 1;
  }
  .detailStudent-page .form-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0px;
  }
  .detailStudent-page .form-section .content {
    width: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .detailStudent-page .form-section .content .form-box {
    position: relative;
    z-index: 1;
    top: 60px;
    width: 80%;
    min-height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 0px 30px 60px rgba(7, 21, 53, 0.1);
            box-shadow: 0px 30px 60px rgba(7, 21, 53, 0.1);
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .detailStudent-page .form-section .content .form-box h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .detailStudent-page .form-section .content .form-box p {
    width: 650px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata .row .col-6 {
    width: 49%;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata .row .col-12 {
    width: 100%;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata .row .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata .row .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .detailStudent-page .form-section .content .form-box .form-biodata .row .form-group h4 {
    font-weight: 500;
    font-size: 16px;
  }
  #mobile {
    display: none;
  }
}
/*# sourceMappingURL=desktop-style.css.map */